<h1>toppage</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		  <img src="sweets_shortcake">
		  <%#= image_tag 'assets/images/top.jpg' %>
		  <p>
<%#= image_tag 'assets/images/sweets_shortcake' %>
</p>

		    <p>
		      長野にある小さなケーキ屋さんです。
		    </p>
		  </div>
		</div>
	</div>
