<h1>toppage</h1>

		<div class="col-xs-12">
		  <!--<img src="sweets_shortcake.png">-->
		  <%= image_tag '/assets/top.jpg' %>
		  <p>
<%#= image_tag 'assets/images/sweets_shortcake' %>
</p>

		    <p>
		      長野にある小さなケーキ屋さんです。
		    </p>

	</div>
