<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="admin-form">
        <h2 class="headline">管理者画面</h2>
          <h5 class="mt-5">
            本日の注文件数 <%#= Order.all.sum(:amount) %>
            	<%= link_to admin_orders_path, class: "btn-link" do %>
				      <%= @orders.count %>
				      <% end %> 件
          </h5>
      </div>
      </div>
    </div>
</div>