<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <h6 class= 'bg-secondary'>
        管理者画面
      </h6>
      <div>
        本日の注文件数　件
      </div>


      </div>
    </div>
</div>
