// Place all the styles related to the admin::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-form{
  width: 500px;
  text-align:center;
  margin:0 auto 50px;

}

.headline{
  font-size:30px;
  margin:0 auto 30px;
  border-bottom: solid 2px #000000;
  max-width:300px
}