  <!--URL:/items-->
  
  <h3>商品一覧</h3>
  <table>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td>￥<%= item.price %></td>
      </tr>
    <% end %>
  </table>