<header>
  <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
    <div class="container">
      <a class="navbar-brand" href="/"><span>?LOGO?</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>sign_in
          <!--<li>%= link_to ' Home',customers_path(current_user),class: 'fas fa-home nav-link text-light' %></li>-->
          <!--<li>%= link_to ' Users',admin_path,class: 'fas fa-users nav-link text-light' %></li>-->
          <!--<li>%= link_to ' Books',admins_path ,class: 'fas fa-book-open nav-link text-light'%></li>-->
          <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
        <% else %>else
          <li><%= link_to ' About',admin_path,class: 'fas fa-link nav-link text-light' %></li>
          <li><%= link_to ' 一覧',root_path,class: 'fas fa-home nav-link text-light' %></li>
          <!--<li>%= link_to ' 新規登録', new_admin_registration_path,class: 'fas fa-user-plus nav-link text-light' %></li>-->
          <li><%= link_to ' ログイン', new_admin_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>